body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 2%;
    margin-top: 5%;
    font-size: medium;
  }
  h1 {
    font-size: 50px;
  }
  .highlight {
    color: orange;
  }
  .width-50 {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 1%;
  }
  .width-50 img {
    width: 100%;
  }
  